$instagram: #e1306c;
$facebook: #3b5998;
$twitter: #1da1f2;
$pinterest: #bd081c;
$youtube: #f00;
$vimeo: #1ab7ea;
$linkedin: #007bb5;

$dark: #151515;
$turquoise: #009697;
$grey: #292929;
$lightgrey: #e1e1e1;

$leading-color: $turquoise;